.modal-enter {
  opacity: 0;
  max-height: 0px;
}
.modal-enter-active {
  opacity: 1;
  max-height: 460px;
  transition: opacity 200ms, max-height 200ms;
}
.modal-exit {
  opacity: 1;
  max-height: 460px;
}
.modal-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 200ms, height 200ms;
}